body {
	padding: 0;
	margin: 0;
}

.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

.container {
	width: 930px;
	margin: 0 auto;
}

.logo {
	margin-top: 30px;
	float: left;
	width: 200px;
	height: 200px;
}



h1 {
	font-size: 15px;
	color: white;
	margin-left: 25px;
}

.menu-item {
	line-height: 50px;
	display: block;
	background: #06e1e2;
	transition: 0.5s ease-out;
	width: 850px;
	border-radius: 5px;
	height: 50px;
	margin-top: 3px;
	cursor: pointer;
}

.menu-item-add {
	display: block;
	line-height: 35px;
	background: #00cc00;
	color: white;
	text-align: center;
	margin-bottom: 10px;
	margin-left: 700px;
	font-size: 13px;
	width: 150px;
	transition: 0.5s ease-out;
	text-transform: uppercase;
	height: 35px;
	border-radius: 5px;
	cursor: pointer;
}

.roleboard1{
	margin-left: 535px;
	color: black;
    background: #cbced6;
	border: 1px solid #b2efe1;
    border-radius: 3px;
	font-size: 13px;
	font-style: normal;
	width: 100px;
	text-align: center;
	
}

.roleboard2{
	margin-left: 535px;
	color: black;
	background: #ffff91;
	border: 1px solid #ffffc4;
    border-radius: 3px;
    border-color: #e6e687;
	font-size: 13px;
	font-style: normal;
	width: 100px;
	text-align: center;
}

.roleboard3{
	margin-left: 535px;
	color: white;
    background: #008000;
	border: 1px solid #00b300 ;
    border-radius: 3px;
	font-size: 13px;
	font-style: normal;
	width: 100px;
	text-align: center;
}

.menuboard a {
	padding: 25px;
	font-size: 15px;
	color: white;
	text-decoration: none;
}

.menu-item:hover {
	background: #CC99FF;
	transform: scale(1.01);
	box-shadow: 0 0 14px rgba(0, 0, 0, 0.5);
}

.menu-item-add:hover {
	background: #009900;
}

.menuboard a:hover {
	text-decoration: underline;
}

.sozd {
	float: right;
	color: white;
	margin-right: 5px;
}

.forum-author {
	float: right;
	color: #0093d4;
	margin-right: 15px;
}


.message-delete {
    float: right;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    color: red;
    font-style: italic;
}

.message-delete:hover{
	text-decoration: underline;
    cursor: pointer;
}

.forum-delete {
    float: right;
    position: relative;
	display: inline-block;
	margin-right: 10px;
    color: red;
    font-style: italic;
}

.forum-delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
