body {
	padding: 0;
	margin: 0;
}

.clearfix{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

header {
background: url(BACKGROUND.jpg) repeat center top / cover;
height: 100%;
}
.container{
	width: 930px;
	margin: 0 auto;
	
}

.logo {
	margin-top: 30px;
	float: left;
}

.heading a{
margin-top: 80px;
float: right;	
color: white;
font-size: 26px;
}


 .titles__first {
	 font-size: 24px;
	 color: white;
	 margin-left: 10px;
	 border-top: 2px groove;
	 padding: 5px;
 }
 h1 {
	 font-size: 15px;
	 color: white;
	 margin-left: 25px;
 }

 
 .menu-item, .menu-item-add {
	 line-height: 50px;
	 border-top: 1px black solid;
	 display: block;
	 background: #99CCFF;
	 transition: 0.5s ease-out;
	 width: 850px;
	 border-radius: 5px;
	 height: 50px;
 }

 .menu-item-add {
	background: green;
 }
 
 .menuboard a{
padding: 25px;
font-size: 15px;
color: white;
text-decoration: none; 
 }
 
 .menu-item:hover, .menu-item-add:hover{
	 background: #CC99FF;
	 transform: scale(1.01);
	 box-shadow: 0 0 14px rgba(0,0,0,0.5);
 }
 
 .menuboard a:hover{
	 text-decoration: underline;
 }

.forum-author {
	float: right;
}